body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:black;
color:white;
font-family:Arial;
overflow:hidden;
}

.card{
width:340px;
padding:30px;
background:rgba(255,255,255,.05);
border-radius:12px;
text-align:center;
transition:.1s;
}

.avatar img{
width:90px;
height:90px;
border-radius:10px;
object-fit:cover;
}

.links{
display:flex;
flex-direction:column;
gap:10px;
margin-top:15px;
}

.links a{
padding:10px;
background:#111;
color:white;
text-decoration:none;
border-radius:8px;
}